.introduction{
    display: block;
    margin: 0 auto;
    max-width: 360px;
    text-align: center;

    &__logo{
        width: 244px;
        height: 200px;
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
        // background: url("./dist/empty.png") no-repeat center;
        object-fit: contain;
    }

    &__text{
        margin-bottom: 32px;
    }
    
}