@import "./variables/variables";

html {
  font-family: 'Source Sans Pro';
}

body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $black;
}

input, label{
  font-family: 'Source Sans Pro';
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner{
  margin: 0 auto;
  max-width: 936px;
}