.button{
    border-radius: $radius;
    // font-family: SourceSansPro;
	font-size: $text;
	text-align: center;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;

    &_add{
        background-color: $button_add;
    }

    &:hover{
       color: red; 
    }
}