//.button{
//    //border-radius: $radius;
//    //// font-family: SourceSansPro;
//    //font-size: $text;
//    //text-align: center;
//    //color: #fff;
//    //padding: 10px 20px;
//    //display: inline-block;
//    //cursor: pointer;
//
//    &_add{
//        background-color: $button_add;
//    }
//
//    &_cancel{
//        background-color: $grey-light;
//        color: $buttons_cancel;
//    }
//
//    &:hover{
//        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
//        filter: brightness(80%);
//    }
//
//    &.is-blocked{
//        background-color: $grey-light;
//        border: solid 1px $grey;
//        color: $grey-dark;
//        cursor: default;
//        &:hover{
//            filter: none;
//            box-shadow: none;
//        }
//    }
//
//}